{# <ul id="result-search" class="list-group list-group-light mb-4"> #}
{# teststddftgehjusrgzfb #}
{% set alphabet = "?" %}

{% for ville in villes|sort((a, b) => a.nom <=> b.nom) %}
  {% if ville.country == country %}
    {% if ville.nom|first != alphabet %}
      {% set alphabet = ville.nom|first %}
      <h6 class="bg-light p-2 border-top border-bottom mb-0">{{alphabet}}</h6> 
    {% endif %}

    <li class="list-group-item justify-content-between align-items-center position-static">
    <a href="{{ path('corporations', {'country': ville.country, 'ville': ville.nom})}}" class="w-100 d-flex text-decoration-none align-items-center">
            <img src="{{ asset(''~ville.blason)}}" class="" alt="" style="width: 45px; height: 45px"/>
            <span class="ms-3">
              <p class="fw-bold mb-1" style=" color: black;">{{ ville.nom }}</p>
              <span class="text-muted mb-0">{{ ville.country }}, {{ ville.region }}</span>
            </span>
            <span class="ms-auto"><i class="bi bi-chevron-right text-dark"></i></span>
    </a>
    </li>
  {% endif %}


{% endfor %}
{# </ul> #}