{% extends 'base.html.twig' %}

{% block title %}Anecdotes{% endblock %}

{% block body %}
    <h1>Anecdotes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anecdote.id }}</td>
            </tr>
            <tr>
                <th>Idcorporation</th>
                <td>{{ anecdote.idcorporation }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ anecdote.title }}</td>
            </tr>
            <tr>
                <th>Anecdote</th>
                <td>{{ anecdote.anecdote }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_anecdotes_index') }}">back to list</a>

    <a href="{{ path('app_anecdotes_edit', {'id': anecdote.id}) }}">edit</a>

    {{ include('anecdotes/_delete_form.html.twig') }}
{% endblock %}
