{% extends 'layout.html.twig' %}

{% block title %}Corporations{% endblock %}

{% block body %}




<div class="container col-10">
  <div class="row">
    <div class="col-3 text-center">
    
    </div>
    <div class="col-6 text-center">
      <h1 class="">{{ corporation.Nom }}</h1>
    </div>
    <div class="col-3 text-center">
      <img src="{{ asset(''~corporation.logo)}}" style="width: 45px; height: 45px">
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <b>Résumé</b><br>
      {{ corporation.Resume }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Abréviation</b>
    </div>
    <div class="col">
      {{ corporation.Abreviation }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Création</b>
    </div>
    <div class="col">
      {{ corporation.Date ? corporation.Date|date('d-m-Y') : '' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Localisation</b>
    </div>
    <div class="col">
      {{ corporation.Ville }}, {{ corporation.Pays }}
    </div>
  </div>
</div>


    <div id="accordion">

        <div class="card">
            <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseZero">
                Particularités
            </a>
            </div>
            <div id="collapseZero" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                Chant
            </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                Décorum
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                Anecdotes
            </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                Pin's
            </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                Historique des croix
            </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
            </div>
        </div>
    </div> 

    {# <a href="{{ path('app_corporations_index') }}">back to list</a>

    <a href="{{ path('app_corporations_edit', {'id': corporation.id}) }}">edit</a>

    {{ include('corporations/_delete_form.html.twig') }} #}
{% endblock %}
